@font-face {
  font-family: "Mulish";
  src: url(./assets/fonts/Mulish-Regular.ttf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Mulish";
}
a {
  text-decoration: none;
}
.container {
  max-width: 1272px !important;
  padding: 0 20px;
  margin: 0 auto;
}
